<?xml version="1.0" encoding="UTF-8"?>
<settings
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd"
  xmlns="http://maven.apache.org/SETTINGS/1.1.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <servers>
    <server>
      <username>eux-imp-sp</username>
      <password>${env.SERVER_PASSWORD}</password>
      <id>central</id>
    </server>
    <server>
      <username>eux-imp-sp</username>
      <password>${env.SERVER_PASSWORD}</password>
      <id>releases-local</id>
    </server>
  </servers>
  <profiles>
    <profile>
      <id>artifactory</id>
      <repositories>
        <repository>
          <id>releases-local</id>
          <name>artifactory.azure.defra.cloud-releases</name>
          <url>https://artifactoryv2.azure.defra.cloud/artifactory/maven-releases-local</url>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
      </repositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>artifactory</activeProfile>
  </activeProfiles>
</settings>
